body {
 background-image: linear-gradient(to right, #006080, #00663d);
  color: white;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.gameroom {
  width: 800px;
  height: 415px;
  float: left;
  margin-left: 250px;
  border-radius: 2px 0 0 2px;
  background-color: rgba(179,217,255,0.15);
}
.chat {
  float: left;
  width: 200px;
  height: 415px;
  border: 1.5px solid white;
  overflow: hidden;
  font-family: "Archivo";
  background-color: rgba(0, 0, 0, .75);
  color: white;
  padding: 0 10px;
}
.scoreboard {
  width: 100%;
  height: 30px;
  color: black;
  display: flex;
  text-align: center;
  font-size: 25px;
  font-family: "Archivo";
  letter-spacing: -1.5px;
}
#plscore {
  flex: 50%;
  padding: 12px;
}
#opscore {
  flex: 50%;
  padding: 12px;
}
.opSlots {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.center {
  margin: 35px 0;
  height: 40px;
  font-family: "Archivo", "Tahoma";
  color: rgba(0,0,0, .25);
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}
.playerSlots {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.inputs {
  height: 35px;
  padding: 5px;;
  text-align: center;
}
#guess {
  width: 200px;
  font-family: "Archivo", "Tahoma", sans-serif;
  height: 25px;
  font-size: 18px;
  border: 1px solid grey;
}
.inputs > button {
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
  font-family: "Archivo", "Tahoma";
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}
.slot {
  width: 120px;
  height: 80px;
  object-fit: contain;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  line-height: 70px;
  border: 1px solid black;
  margin: 0 20px;
  transition-duration: 0.2s;
  background-color: rgba(255,255,255, .75);
}
.opSlots .slot:hover {
  box-shadow: 1.5px 1.5px 3px black;
  cursor: pointer;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Archivo", "Tahoma";
  padding: 20px;
  font-size: 18px;
}
.modal button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.25);
  color: white;
  cursor: pointer;
}
.modal button:hover {
  background-color: grey;
}
/* Autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #262626;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: black;
  font-family: "Archivo", "Tahoma";
  font-size: 18px;
  opacity: 0.75;
}
.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  padding: 2px;
}
.autocomplete-items div:hover {
  background-color: #e6fff2;
  opacity: 1;
}
.autocomplete-active {
  background-color: #e6fff2;
}
