body {
 background-image: linear-gradient(to right, #006080, #00663d);
  color: white;
  font-family: "Archivo", "Tahoma", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.gameroom {
  display: block;
  width: 800px;
  height: 415px;
  position: relative;
  margin: 0 auto;
  border-radius: 2px 0 0 2px;
  background-color: rgba(179,217,255,0.15);
}
.settings-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}
.color-room {
  border: 1px solid red;
  width: 50%;
  float: left;
}
.difficulty-room {
  border: 1px solid red;
  width: 50%;
  float: left;
}
.settings-screen h1 {
  font-weight: lighter;
  width: 100%;
}
.color-slot {
  float: left;
  width: 25%;
  height: 50px;
  margin-right: 50px;
  margin-left: 45px;
  border: 2px solid white;
  border-radius: 8px;
}
.color-slot:hover {
  border: 2px solid #069;
  cursor: pointer;
}
.dark-slot {
  background-image: linear-gradient(to right, #0d0d0d, #00001a);
}
.light-slot {
  background-image: linear-gradient(to right, #006080, #00663d);
}
.chat {
  display: block;
  width: 800px;
  height: 150px;
  border: 1.5px solid white;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Archivo";
  background-color: rgba(0, 0, 0, .8);
  color: white;
  padding: 0 10px;
}
.scoreboard {
  width: 100%;
  height: 30px;
  color: black;
  display: flex;
  text-align: center;
  font-size: 25px;
  font-family: "Archivo";
  letter-spacing: -1.5px;
}
#plscore {
  flex: 33%;
  padding: 12px;
}
#opscore {
  flex: 33%;
  padding: 12px;
}
.opSlots {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.center {
  margin: 35px 0;
  height: 40px;
  font-family: "Archivo", "Tahoma";
  color: rgba(0,0,0, .25);
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  opacity: 0;
}
.playerSlots {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  opacity: 0.25;
}
.inputs {
  height: 35px;
  padding: 5px;;
  text-align: center;
}
#guess {
  width: 200px;
  font-family: "Archivo", "Tahoma", sans-serif;
  height: 25px;
  font-size: 18px;
  border: 1px solid grey;
}
.inputs > button {
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
  font-family: "Archivo", "Tahoma";
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}
.slot {
  width: 120px;
  height: 80px;
  object-fit: contain;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  line-height: 70px;
  border: 1px solid black;
  margin: 0 20px;
  transition-duration: 0.2s;
  background-color: rgba(255,255,255, .75);
}
.opSlots .slot:hover {
  box-shadow: 1.5px 1.5px 3px black;
  cursor: pointer;
}
.modal {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Archivo", "Tahoma";
  padding: 20px;
  font-size: 18px;
}
.modal button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.25);
  color: white;
  cursor: pointer;
}
.modal button:hover {
  background-color: grey;
}
/* Autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #262626;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: black;
  font-family: "Archivo", "Tahoma";
  font-size: 18px;
  opacity: 0.75;
}
.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  padding: 2px;
}
.autocomplete-items div:hover {
  background-color: #e6fff2;
  opacity: 1;
}
.autocomplete-active {
  background-color: #e6fff2;
}
/* settings */
.toolbar {
  flex: 20%;
  height: 50px;
  padding: 2.5px 20px;
}
#restart {
  background-image: url('https://i.ibb.co/q0bCTH8/678134-48.png');
  background-color: rgba(0,0,0,0);
  border: none;
  height: 28px;
  width: 28px;
  background-size: contain;
  cursor: pointer;
  margin: 3px 0;
  opacity: 0.25;
  font-size: 10px;
  color: white;
  text-indent: -10px;
  transition-duration: 0.7s;
}
#restart:focus {
  outline: none;
}
#restart:hover {
  opacity: 1;
  transition-duration: 0.7s;
}
#settings {
  width: 35px;
  height: 35px;
  background-image: url('https://i.ibb.co/QPxY1Y1/309079-48.png');
  background-size: cover;
  background-color: rgba(0,0,0,0);
  border: none;
  opacity: 0.25;
  margin-top: -2px;
  transition-duration: 0.7s;
}
#settings:focus {
  outline: none;
}
#settings:hover {
  opacity: 1;
  transition-duration: 0.7s;
  cursor: pointer;
}
#restartSlot {
  float: left;
  height: 50px;
  width: 35px;
  margin-left: 25px;
}
#settingsSlot {
  float: right;
  height: 50px;
  width: 35px;
  margin-right: 25px;
}
#restartSlot > p {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: -3px;
  margin-left: -6px;
  opacity: 0;
  transition-duration: 0.5s;
}
#settingsSlot > p {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: white;
  margin-top: -5px;
  margin-left: -6px;
  opacity: 0;
  transition-duration: 0.5s;
}
.confirmRestart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 100px;
  font-size: 25px;
  font-family: "Archivo", "Tahoma", sans-serif;
  display: none;
}
.confirmRestart button {
  width: 150px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
}
.confirmRestart button:hover {
  border: 1.5px solid white;
  border-radius: 2px;
  transition-duration: 0.5s;
}
